* {
    margin: 0;
    padding: 0;

}

section {

    max-width: 1200px;
    margin: 0 20px;
    margin: auto;
    margin-top: 100px;
}

section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

button a {
    text-decoration: none;
    color: white;
}

button {
    width: 100px;
    height: 70px;
    border-radius: 30px;
    border: none;
    background-color: green;
}

button:hover {
    background: #000;
    transition-duration: 0.5s;
    cursor: pointer;
}

